<div class="fadeIn">
    <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit ornare pulvinar netus hac. Neque ullamcorper aenean quis arcu viverra dictumst dui libero faucibus, tempor mattis montes mi fringilla erat malesuada odio sem blandit, dolor amet hendrerit elementum bibendum facilisis maecenas venenatis. Condimentum varius placerat suspendisse efficitur adipiscing id cursus habitant natoque, laoreet curabitur at mi urna elementum fusce per nec, augue consequat vel vitae libero primis imperdiet rutrum. In nibh dolor posuere urna neque hendrerit montes eros vitae, netus massa pellentesque et conubia nec id tincidunt, sagittis fusce ullamcorper ex sem curabitur nam augue. Imperdiet mi consectetur parturient phasellus integer amet nisl montes consequat et, interdum vehicula diam sociosqu donec ornare senectus ut. Placerat blandit metus mus turpis duis volutpat non et, congue pulvinar dapibus tempor a tortor taciti, efficitur vehicula sem sodales porta gravida nostra.</p>

</div>
<p>
        <app-pageerror></app-pageerror> 
    </p>
      